<!-- Hero Section -->
<section class="hero">
  <div class="hero-content">
    <h1>Welcome to <span class="highlight">Dhameliya Restaurant</span></h1>
    <p>Delivering great food for more than 18 years!</p>
    <div class="buttons">
      <button routerLink="/menu">Our Menu</button>
      <button routerLink="/book">Book a Table</button>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="about-wrapper">
  <div class="about-content">
    <div class="about-text">
      <div class="about-title-box">
        <h2>About Us</h2>
      </div>
      <i class="fas fa-utensils about-icon"></i>
      <p>
        Dhameliya Restaurant is a place for simplicity. Good food, good beer, and good service.
        Simple is the name of the game, and we’re good at finding it in all the right places—even in your dining experience.
        We’re a small group from Gujarat who make simple food possible. Come join us and see what simplicity tastes like.
      </p>
    </div>
    <div class="about-images">
      <img src="assets/food1.jpeg" alt="Dish 1">
      <img src="assets/food2.jpeg" alt="Dish 2">
      <img src="assets/food3.jpg" alt="Dish 3">
      <img src="assets/food4.jpg" alt="Dish 4">
    </div>
  </div>
</section>
